/*General*/

body {
  font-size: 18px;;
}

ul {
  list-style: none;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 100px 600px 100px 1fr;
  padding-top: 50px;
  overflow: hidden;
  grid-row-gap: 20px;
}

/*Top NavBar*/
.navBar {
  width: 100%;
}

.navList {
  display: grid;
  padding: 5px 20px 5px 20px;
  margin: 0;
  grid-auto-flow: column;
  grid-template-columns: 25px 25px auto 1fr auto auto;
  grid-gap: 10px;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
}

.navList > li > strong:hover {
  text-decoration: underline;
}

.logo {
  margin: auto;
}

.navList > li > strong:hover,
.logo:hover,  button:hover,
.navList > li > img:hover {
  cursor: pointer;
}

.border {
  padding: 3px;
  border-radius: 3px;
}

.border:hover {
  background-color: lightgrey;
}

 .navB{
   background-color: #567b95;
   color: white;
   border: 1px solid #326891;
   border-radius: 3px;
   padding: 11px 12px 8px 12px;
   font-size: 11px;
   font-weight: 700;
 }
 .navB:hover {
   background-color: #326891;
 }

 /*Top section*/

 h1 {
   font-size: 36px;
   border-bottom: 1px solid lightgrey;
   padding-bottom: 20px;
   margin-bottom: 0;
 }

 .handles {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: repeat(7, 40px) 1fr;
   grid-column-start: 3;
   margin: 0;
   padding-left: 0;
 }

 .grey {
   background-color: lightgrey;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 25px;
   height: 25px;
 }

 /*Main grid*/

  h1, section, .signUp  {
    grid-column-start: 3;
  }

  .figure1, figcaption {
    grid-column: 2 / -2;
  }

  .inflation {
    grid-column: 2 /-2;
    margin: 0 auto;
  }

 /*Figure 1*/

  .image {
    width: 100%;
  }

  figcaption {
    margin-top: 5px;
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 16px;
    color: grey;
  }

  figcaption > span {
    font-size: 12px;
  }

  /*Sign up */

  .signUp {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    box-sizing: border-box;
    margin: 0 20px;
    border-top: 1px solid grey;
    align-items: center;
    font-style: italic;
  }
  .signUp > p > strong {
    font-style: normal;
  }
  .signUp > button {
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    height: 30px;
    font-weight: bold;
  }

  .signUp > p {
    margin-bottom: 0;
  }
  .signUp > button:hover {
    background-color: black;
    color: white;
  }

  /*Subscribe section*/

  .subS {
    display: grid;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin: 30px;
  }

  .subS > p {
    padding-top: 10px;
    border-top: 1px solid grey;
    margin: 0;
  }

  .subS > a {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    text-decoration: none;
    color: blue;
  }

  /*The theory of inflation*/

  .inflation > div {
    display: grid;
    grid-template-columns: repeat(4, 236px);
    grid-template-rows: auto auto 330px 380px auto;
    align-items: center;
  }

  .figImage {
    width: 940px;
    height: 700px;
  }

  .inflation > div > h2, .inflation > div > p,
  .figure {
  grid-column: 1 /-1;
  }

  .figure {
    grid-row: 3 / 5;
  }

  .o , .tw , .t , .fo {
    grid-row: 3/4;
  }

  .f , .si , .s , .e {
    grid-row: 4/5;
  }

  .o , .f {
    grid-column: 1/2;
  }

  .tw , .si{
    grid-column: 2/3;
  }

  .t , .s {
    grid-column: 3/4;
  }

  .fo , .e{
    grid-column: 4/5;
  }

  .o , .tw , .t , .fo , .f , .si , .s , .e  {
    align-self: end;
  }

  /*Embedded video*/
  .embVid {
    width: 100%;
    margin: 50px 0;
  }

 iframe {
   width: 600px;
   height: 300px;
 }

/*Footer */

  footer {
    display: grid;
    width: 1000px;
    font-size: 12px;
    margin: auto;
    align-items: center;
    text-align: center;
  }

  footer > p {
    grid-row: 1;
    grid-column: 1/-1;
  }

  footer > ul {
    display: grid;
    grid-auto-flow: column;
  }
